body
{
    height: 100vh;
    background-color: #4169E1;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

main{
    width: 500px;
    border: 1px solid black;
    text-align: center;

}

header {

    background: url("https://www12.senado.leg.br/noticias/materias/2021/11/18/senado-fara-sessao-para-celebrar-os-90-anos-do-cristo-redentor/cristo_redentor.jpg/@@images/image/imagem_materia");
    background-size: 60vh;


}


img{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    transform: translateY(-50%); 
    border: 8px solid white;

}